{% extends "base.html" %}
{% load static %}

{% block title %}Đăng xuất - E-ELECTRO{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content %}
<div class="container my-5 d-flex justify-content-center">
  <div class="wrapper">
      <div class="title-text">
        <div class="title login title-reduced">Xác nhận đăng xuất</div>
      </div>
      
      <div class="form-container">
        <div class="form-inner">
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            
            <div class="form-desc-bold">
              Bạn có chắc chắn muốn đăng xuất không?
            </div>

            <div class="field btn mt-30">
              <div class="btn-layer"></div>
              <input type="submit" value="Xác nhận Đăng xuất">
            </div>

            <div class="signup-link mt-20">
              <a href="{% url 'shop:product_list' %}">Hủy, quay lại Trang chủ</a>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
{% endblock %}
