{% extends "base.html" %}
{% load static %}

{% block title %}Đã gửi Email - E-ELECTRO{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content %}
<div class="container my-5 d-flex justify-content-center">
  <div class="wrapper">
      <div class="title-text">
        <div class="title login title-reduced">Đã gửi Link Khôi phục</div>
      </div>
      
      <div class="form-container">
        <div class="form-inner">
          <form>
            <div class="form-desc-large">
              Chúng tôi đã gửi một Email chứa đường dẫn đặc biệt để bạn tạo lại mật khẩu mới. <br><br>
              Vui lòng kiểm tra Hộp Thư Đầu (Inbox) hoặc Thư Rác (Spam) trong Email của bạn.
            </div>

            <div class="signup-link mt-30">
              <a href="{% url 'account_login' %}">Quay lại trang Đăng nhập</a>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
{% endblock %}
