{% extends "base.html" %}
{% load static %}

{% block title %}Thành công - E-ELECTRO{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content %}
<div class="container my-5 d-flex justify-content-center">
  <div class="wrapper">
      <div class="title-text">
        <div class="title login title-success">Thay đổi Thành công!</div>
      </div>
      
      <div class="form-container">
        <div class="form-inner">
          <form>
            <div class="success-msg">
              <i class="fa fa-check-circle fa-3x success-icon"></i>
              Mật khẩu của bạn đã được thay đổi thành công.
            </div>

            <div class="field btn mt-30">
              <div class="btn-layer"></div>
              <input type="button" value="Đăng nhập lại" onclick="window.location.href='{% url 'account_login' %}'" style="text-align: center;">
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
{% endblock %}
