{% extends "base.html" %}
{% load static %}

{% block title %}Thành công - E-ELECTRO{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content %}
<div class="container my-5 d-flex justify-content-center">
  <div class="wrapper">
      <div class="title-text">
        <div class="title login" style="font-size: 26px; color: #1a75ff;">Thay đổi Thành công!</div>
      </div>
      
      <div class="form-container">
        <div class="form-inner">
          <form>
            <div style="text-align: center; color: #28a745; margin: 20px 0; font-size: 16px; font-weight: bold;">
              <i class="fa fa-check-circle fa-3x" style="display: block; margin-bottom: 15px;"></i>
              Mật khẩu của bạn đã được thay đổi thành công.
            </div>

            <div class="field btn" style="margin-top: 30px;">
              <div class="btn-layer"></div>
              <input type="button" value="Đăng nhập lại" onclick="window.location.href='{% url 'account_login' %}'" style="text-align: center;">
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
{% endblock %}
