{% extends "base.html" %}
{% load static %}

{% block title %}Quên mật khẩu - E-ELECTRO{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content %}
<div class="container my-5 d-flex justify-content-center">
  <div class="wrapper">
      <div class="title-text">
        <div class="title login">Quên mật khẩu?</div>
      </div>
      
      <div class="form-container">
        <div class="form-inner">
          <!-- FORM QUÊN MẬT KHẨU -->
          <form method="post" action="{% url 'account_reset_password' %}">
            {% csrf_token %}

            <div class="form-desc">
              Nhập địa chỉ Email. Chúng tôi sẽ gửi Link lấy lại mật khẩu cho bạn ngay!
            </div>

            {% if form.errors %}
              <div class="error-msg">Email không hợp lệ. Vui lòng kiểm tra lại.</div>
            {% endif %}

            <div class="field">
              <input type="email" name="email" placeholder="Nhập địa chỉ Email" required>
            </div>
            
            <div class="field btn mt-30">
              <div class="btn-layer"></div>
              <input type="submit" value="Gửi Link Đặt Lại">
            </div>

            <div class="signup-link mt-20">
              <a href="{% url 'account_login' %}">Quay lại trang Đăng nhập</a>
            </div>
          </form>

        </div>
      </div>
    </div>
</div>
{% endblock %}
