{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'admin/partials/head/head-meta.html' %}
  <title>Admin - {{ model_name }} Form</title>
  {% include 'admin/partials/head/head-links.html' %}
</head>
<body>
  <div>
    {% include 'admin/partials/sidebar-collapse.html' %}
    <div id="content" class="position-relative h-100">
      {% include 'admin/partials/topbar-second.html' %}
      
      <div class="custom-container">
        <div class="row align-items-center mb-4 g-4">
          <div class="col-12">
            <h4 class="mb-0">{% if form.instance.pk %}Cập nhật{% else %}Thêm mới{% endif %} {{ model_name }}</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-8">
            <div class="card card-body">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="mt-4">
                  <button type="submit" class="btn btn-primary">Lưu lại</button>
                  <a href="{{ cancel_url }}" class="btn btn-light ms-2">Hủy</a>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  {% include 'admin/partials/scripts.html' %}
  {{ form.media }}
</body>
</html>
