{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'dasher_admin/partials/head/head-meta.html' %}
  <title>Admin - Wishlist</title>
  {% include 'dasher_admin/partials/head/head-links.html' %}
</head>
<body>
  <div>
    {% include 'dasher_admin/partials/sidebar-collapse.html' %}
    <div id="content" class="position-relative h-100">
      {% include 'dasher_admin/partials/topbar-second.html' %}
      
      <div class="custom-container">
        <div class="row align-items-center mb-4 g-4">
          <div class="col-12 col-md-8">
            <h4 class="mb-0">Quản lý Wishlist</h4>
          </div>
          <div class="col-12 col-md-4 text-md-end">
             <a href="{% url 'dasher_admin:ec_wishlist_add' %}" class="btn btn-primary d-inline-flex align-items-center gap-2">
                 Thêm mới
             </a>
          </div>
        </div>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <div class="row">
          <div class="col-12">
            <div class="card card-lg card-body">
              <div class="table-responsive">
                <table class="table mb-0 table-centered table-hover text-nowrap">
                  <thead class="table-light">
                    <tr>
                      <th>Thông tin - ID</th>
                      <th>Thao tác</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in items %}
                    <tr>
                      <td>{{ item }}</td>
                      <td>
                        <a href="{% url 'dasher_admin:ec_wishlist_edit' pk=item.pk %}" class="btn btn-sm btn-white">Sửa</a>
                        <form action="{% url 'dasher_admin:ec_wishlist_delete' pk=item.pk %}" method="POST" class="d-inline" onsubmit="return confirm('Bạn có chắc xoá?');">
                           {% csrf_token %}
                           <button type="submit" class="btn btn-sm btn-danger text-white">Xóa</button>
                        </form>
                      </td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="2">Trống.</td></tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'dasher_admin/partials/scripts.html' %}
</body>
</html>