{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div id="breadcrumb" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="{% url 'shop:product_list' %}">Home</a></li>
                    <li><a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a></li>
                    <li class="active">{{ product.name }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div class="product-preview">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        {% else %}
                            <img src="{% static 'img/product01.png' %}" alt="{{ product.name }}">
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-md-pull-5">
                <div id="product-imgs">
                    <div class="product-preview">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        {% else %}
                            <img src="{% static 'img/product01.png' %}" alt="{{ product.name }}">
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">{{ product.name }}</h2>

                    <div>
                        <div class="product-rating">
                            {% for i in "12345" %}
                                <i class="fa fa-star"></i>
                            {% endfor %}
                        </div>
                        <a class="review-link" href="#">{{ reviews.count }} Review(s)</a>
                    </div>

                    <div>
                        <h3 class="product-price">
                            {{ product.price|floatformat:0 }}₫
                        </h3>
                        <span class="product-available">In Stock</span>
                    </div>

                    <p>
                        {{ product.description|truncatewords:40 }}
                    </p>

                    <div class="add-to-cart" style="margin-top: 30px;">
                        <form action="{% url 'cart:cart_add' product.id %}" method="post">
                            {% csrf_token %}

                            <div class="row">
                                <div class="col-md-4">
                                    {{ cart_product_form.quantity|as_crispy_field }}
                                </div>

                                <div class="col-md-8">
                                    <button type="submit" class="add-to-cart-btn" style="width: 100%;">
                                        <i class="fa fa-shopping-cart"></i>
                                        Add to cart
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div style="margin-top: 20px;">
                        {% if user.is_authenticated %}
                            {% if is_in_wishlist %}
                                <a href="{% url 'shop:remove_from_wishlist' product.id %}"
                                   class="primary-btn"
                                   style="display:block; text-align:center; background:#D10024; color:white;">
                                    <i class="fa fa-heart"></i>
                                    Remove from wishlist
                                </a>
                            {% else %}
                                <form action="{% url 'shop:add_to_wishlist' product.id %}" method="post">
    {% csrf_token %}
    <button type="submit"
            class="primary-btn"
            style="width:100%; background:white; color:#D10024; border:1px solid #D10024;">
        <i class="fa fa-heart-o"></i>
        Add to wishlist
    </button>
</form>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'account_login' %}"
                               class="primary-btn"
                               style="display:block; text-align:center;">
                                Login to add wishlist
                            </a>
                        {% endif %}
                    </div>

                    <ul class="product-links" style="margin-top: 30px;">
                        <li>Category:</li>
                        <li><a href="#">{{ product.category.name }}</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>Brand:</li>
                        <li><a href="#">{{ product.brand }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}